/* Party times */

body {
    padding-top: 70px;
    height: 100%;
    width: 100%;
}

.messages {
    padding-bottom: 75px;
}

.avatar {
    border-radius: 15%;
    width: 64px;
    heigh: 64px;
}

.message-input-area {
    position: fixed;
    bottom: 0px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #EEEEEE;
}
