<!DOCTYPE html>
<html ng-app>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="scaffolded-by" content="https://github.com/google/stagehand">
      <title>client</title>

      <link rel="stylesheet" href="styles/main.css">
      <script src="packages/web_components/webcomponents.js"></script>
      <script src="packages/web_components/dart_support.js"></script>
  </head>

  <body>

    <div id="output"></div>
    <h1>Chat Client</h1>
    <p>This is a simple mock of ux stuff</p>

    <h2>Channels</h2>
    <ul>
      <li ng-repeat='channel in client.channels'>
        {{ channel.title }}
        <ul>
          <li ng-repeat='message in channel.messages'>
            {{ message.render() }}
          </li>
        </ul>
      </li>
    </ul>

  <script async type="application/dart" src="main.dart"></script>
  <script async src="packages/browser/dart.js"></script>
  </body>
</html>
