<!DOCTYPE html>
<html ng-app>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="scaffolded-by" content="https://github.com/google/stagehand">
      <title>Uni-IM Client</title>
      <link rel="stylesheet" href="packages/bootstrap/css/bootstrap.css">
      <link rel="stylesheet" href="packages/bootstrap/css/bootstrap-theme.css">
      <link rel="stylesheet" href="styles/main.css">

      <script src="packages/web_components/webcomponents.min.js"></script>
      <script src="packages/web_components/dart_support.js"></script>
  </head>

  <body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Uni-IM Client</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;"></div>
      </div>
  </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3 sidebar">
                <h3>Subscriptions</h3>
                <ul class="nav nav-pills nav-stacked">
                    <li ng-repeat="channel in client.channels" ng-class="{active: channel == selectedChannel}" ng-click="selectChannel(channel)"><a href="#">{{ channel.title }}</a></li>
                </ul>
            </div>
            <div class="col-xs-9 col-xs-offset-3col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 messages">
                <h1 class="page-header">{{ selectedChannel.title }}</h1>
                <div ng-repeat="message in selectedChannel.messages" class="media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img class="media-object" src="dude64.png" alt="The Dude">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">The Dude</h4>
                        <p>{{ message.body }}</p>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-sm-9 message-input-area">
                        <form ng-submit="sendMessage()" class="form">
                            <input ng-model="messageText" type="text" class="form-control" id="exampleInputName2" placeholder="Your messages...">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
      <script async type="application/dart" src="main.dart"></script>
      <script async src="packages/browser/dart.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="packages/bootstrap/js/bootstrap.js"></script>
  </body>
</html>
